.container {
  position: absolute;
  justify-content: center;
  align-items: center;
  display: flex;
  font-family: SilkScreen;
  width: 100%;
  height: 100vh;
  background: linear-gradient(109.6deg, #3a7bd5 40%, #3a6073 60%);
  overflow-x: hidden;
}
@font-face {
  font-family: SilkScreen;
  src: url(../public/Silkscreen-Regular.woff2);
}
